@model IEnumerable<UyeTakipMVC.Models.BeldeClass>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        #right {
            position: absolute;
            right: 80px;
        }
    </style>
</head>

<h3>Beldeler</h3>
<div style="float: left">
    <a href="/Belde/NewBelde" class="btn btn-primary">Yeni Belde Ekle </a>
    <a href="/Belde/ExportToExcel" class="btn btn-success" id="right">Excel Olarak İndir</a>
</div>
<br />
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>İlçe ID</th>
            <th>İlçe Ad</th>
            <th>Şehir Ad</th>
            <th>Düzenle/Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.belde_id</td>
                <td>@item.belde_ad</td>
                <td>@item.Ilce.ilce_ad</td>
                <td> <a href="/Belde/GetBelde/@item.belde_id" class="btn btn-success"><span class="glyphicon glyphicon-edit" title="Düzenle"></span></a> <a href="/Belde/DeleteBelde/@item.belde_id" class="btn btn-danger" onclick="return confirm('Silmek istediğine emin misin?')" title="Sil"><span class="glyphicon glyphicon-remove"></span></a> </td>
            </tr>
        }
    </tbody>
</table>
