@model IEnumerable<UyeTakipMVC.Models.ParametreClass>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        #right {
            position: absolute;
            right: 80px;
        }
    </style>
</head>

<h3>Parametreler</h3>
<br />
<a href="/Parametre/NewParametre" class="btn btn-primary">Yeni Parametre Ekle </a>
<br />
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Parametre ID</th>
            <th>Parametre Ad</th>
            <th>Parametre İçeriği</th>
            <th>Kullanıcı Ad</th>
            <th>Düzenle/Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.parametre_id</td>
                <td>@item.ParametreId.parametre_ad</td>
                <td>@item.parametre_icerigi</td>
                <td>@item.Kullanici.kullanici_ad</td>
                <td> <a href="/Parametre/GetParametre/@item.parametre_id" class="btn btn-success"><span class="glyphicon glyphicon-edit" title="Düzenle"></span></a> <a href="/Parametre/DeleteParametre/@item.parametre_id" class="btn btn-danger" onclick="return confirm('Silmek istediğine emin misin?')" title="Sil"><span class="glyphicon glyphicon-remove"></span></a> </td>
            </tr>
        }
    </tbody>
</table>