@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hoşgeldiniz</h1>
<h3>Üye Takip Sistemi</h3>

@*<blockquote class="twitter-tweet"><p lang="qme" dir="ltr"> <a href="https://t.co/TGVU4WsiZh">pic.twitter.com/TGVU4WsiZh</a></p>&mdash; Charmingdevill (Charminggdevill) <a href="https://twitter.com/Charminggdevill/status/1620388376460550144?ref_src=twsrc%5Etfw">January 31, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>*@