@model UyeTakipMVC.Models.IlceClass
@{
    ViewData["Title"] = "NewIlce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>İlçe Ekle</h1>
<br />
@using (Html.BeginForm("NewIlce", "Ilce", FormMethod.Post))
{
    @Html.Label("İlçe Ad")
    @Html.TextBoxFor(x => x.ilce_ad, new { @class = "form-control" })
    <br />
    @Html.Label("Şehir")
    @Html.DropDownListFor(x => x.sehir_id, (List<SelectListItem>)ViewBag.sehir, new { @class = "form-control" })
    <br />
    <button class="btn btn-info" style="background-color:darkblue">Ekle</button>
    <a href="/Ilce/Index">Geri Dön</a>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}