@model IEnumerable<UyeTakipMVC.Models.KullaniciRolClass>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        #right {
            position: absolute;
            right: 80px;
        }
    </style>
</head>

<h3>Kullanıcı Rolleri</h3>
<a href="/KullaniciRol/NewKr" class="btn btn-primary">Kullanıcıya Rol Tanımla </a>
<br />
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Kullanıcı Rol ID</th>
            <th>Kullanıcı Ad</th>
            <th>Rol Ad</th>
            <th>Düzenle/Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.kr_id</td>
                <td>@item.Kullanici.kullanici_ad</td>
                <td>@item.Rol.rol_ad</td>
                <td> <a href="/KullaniciRol/GetKr/@item.kr_id" class="btn btn-success"><span class="glyphicon glyphicon-edit" title="Düzenle"></span></a> <a href="/KullaniciRol/DeleteKr/@item.kr_id" class="btn btn-danger" onclick="return confirm('Silmek istediğine emin misin?')" title="Sil"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
        }
    </tbody>
</table>